/target
/target-codex
/iced-dynamic/target
/iced-dynamic/Cargo.lock
/elune-src/target
/elune-src/Cargo.lock
/.cache
/Interface/AddOns/*
!/Interface/AddOns/TestFramework
!/Interface/AddOns/Admin
!/Interface/AddOns/SimCommands
/Interface/BlizzardUI
/vendor/
/docs/local/
cache/
PLAN.md
