/target
/target-codex
/target_codex_*
/iced-dynamic/target
/iced-dynamic/Cargo.lock
/elune-src/target
/elune-src/Cargo.lock
/.cache
/Interface/AddOns/*
!/Interface/AddOns/TestFramework
!/Interface/AddOns/Admin
!/Interface/AddOns/SimCommands
/Interface/BlizzardUI
/vendor/
/docs/local/
cache/
PLAN*.md
perf.data
perf.data.old
flamegraph.svg
.codex/
target-perf/
perf.data*.flamegraph.svg
tests/rilua_bridge/target/
